<app-navbar (edit)="edit($event)"></app-navbar>
<div class="row" style="margin-top: 15px;">

  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Fabricante</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (device of devices; track device.identifier; let i = $index) {
        <tr>
          <td>{{ device.description }}</td>
          <td>{{ device.manufacturer }}</td>
          <td>

            <button class="btn btn-sm btn-primary" ngbTooltip="Editar" style="margin-right: 3px;"
              (click)="edit(device.identifier!)">
              <span class="fa fa-edit"></span>
            </button>

            <button class="btn btn-sm btn-danger" ngbTooltip="Excluir" (click)="delete(device.identifier!)"
              style="margin-right: 3px;">
              <i class="fa-solid fa-trash"></i>
            </button>

          </td>
        </tr>
        }
        <tr *ngIf="!devices.length">

          <td colspan="3">
            Nenhum dispositivo cadastrado
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>


</div>